<h3>Post a Comment</h3>

<%= form_for [ @pizza_place, @comment ] do |f| %>
  <p>
    <%= f.label :body, "Your Comment" %><br/>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
