<div id="pizza-index">
<ul>
  <h2> The Best Pizza Places in New York </h2>
  <h4> According to TimeOut Magazine </h4>
<% @pizza_places.each do |place| %>

<li>
<div class="media">

   <img class="media_image" src="<%=place.image_url%>"/>

  <div class="media_body">
    <h2> <%= link_to place.name, pizza_place_path(place), id: "pizza_place_#{place.id}" %>
 </h2>
  </div>

</div>
</li>

<% end %>
</ul>

</div>
