// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#edit-comment {
  margin-top: 180px;
  background: white;
  position: absolute;
  width: 815px;
  margin-left: 120px;
  padding: 0px 100px 0px 100px;

}
