// Place all the styles related to the Pizza_Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pizza-index{
  margin-top: 200px;
  background: white;
  position: absolute;
}
